extends ../_bootstrap
append styles
	// Custom styles for this template
	link(href='../css/starter-template.css', rel='stylesheet')
block body
	.container
		+navbar-fixed('indiekicker', 'navbar', session.admin ? 'inverse': 'default')
			li
				a Hello, #{session.name}
			+nav_item("/") Home
			+nav_item("/project/all/1", "active") Projects
			+nav_item("/category/all/1") Categories
			+nav_item("/user/" + session.userid) My profile
			if session.admin === true
				+nav_item("/user/all") All users
			form.navbar-form.navbar-nav(method='post', action='/project/search')
				.form-group
					input.form-control(name='searchparams', type='text', placeholder='Search keyword')
				button.btn.btn-success(type='submit') Search
			form.navbar-form.navbar-right(method='post', action='/logout')
				button.btn.btn-primary(type='submit') Logout
	.container
		.starter-template
			h1 Hello, #{session.name}.
			p.lead
				| Ready to synergize your team, harmonize your fengshui, and earn a shitton of money while saving orphan babies?
				br
				| Create your project today.
		form(method='post')
			h2.form-signin-heading Create project
			label(for='name') Project Name
			input#name.form-control(type='text', placeholder=`My First Indiekicking`, required='', autofocus='', name='name')
			br
			label(for='description') Project Description
			input#username.form-control(type='text', placeholder=`Lorum Ipsum`, required='', autofocus='', name='description')
			br
			label(for='amountsought') Amount Sought
			input#email.form-control(type='number', placeholder=`$100`, required='', autofocus='', name='amountsought')
			br
			label(for='duedate') Due Date
			input.form-control(type='date', autofocus='', required='', name='duedate')
			br
			label(for='keywords') Keywords (seperate with space)
			input.form-control(type='text', placeholder=`tech accessories iphone android`, autofocus='', name='keywords')
			br
			p <strong>Category</strong>
			select(name='category')
				each category in categories
					option(value=category) #{category}
			br
			br
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Create project
			br
			if (error)
				each message in error
					+alert-warning(message)
			if (success)
				each message in success
					+alert-success(message)
	

